.form-group {
    position: relative;
}

.placeholder-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    color: #aaa;
    
}

.form-control:focus + .placeholder-label,
.form-control:not(:placeholder-shown) + .placeholder-label {
    top: -10px;
    left: 10px;
    font-size: 0.85rem;
    color: black;
}

